extension{
    display: inline-block;
}

.link_button {
    line-height: 4rem;
    font-size: 1.4rem;
    margin: 2px 5px;
    margin-left: 0;
    padding: 0 5px;
}

.link_button > a {
    text-decoration: none;
    font-weight: bold;
}

.link_button > a.twitter{
    color: rgb(29, 161, 242);
}

.link_button > a.others{
    color: cadetblue;
}

.link_button > a.youtube{
    color: #cc0000;
}
