#root {
    display: flex;
}

/*Left Menu*/
._2bRtL9c {
    box-sizing: border-box;
    width: 20vw;
    padding: 2% !important;
    height: 100%;
    position: fixed;
}

._2fc7U5Q {
    margin-left: 0 !important;
}

._1pIL-dS {
    justify-content: flex-end !important;
}

.Pz2OXOH,
._35zXp-3 {
    flex-flow: column;
}

._-59EIiw {
    font-size: 1.4rem !important;
}

._-59EIiw > li > a {
    line-height: 3rem !important;
}

._2SUJDIY {
    margin-left: 0 !important;
}

.EzpDawq,
._-59EIiw,
._1hysT5B {
    flex-direction: column !important;
    align-items: flex-start !important;
}

._21w2tl_ {
    flex-flow: column !important;
    margin: 20px 0 !important;
}

._35vwQkU {
    margin: 0 !important;
}

.jkOmHn > img {
    max-height: 100vh;
    max-width: 100vw;
}

/*Center illust*/
.sc-AykKC {
    box-sizing: border-box;
    margin-left: 20vw;
    max-height: 100vh;
    width: 80vw;
}

.jiZwhY {
    margin-top: 0 !important;
    justify-content: space-between;
}

.bAzGJI {
    margin: 0 !important;
    max-width: initial !important;
}

.jjbMDh {
    bottom: 0px !important;
}

.gUbsxO {
    width: 60vw !important;
}

@media screen and (min-height: 552px) {
    .jreIsE {
        max-height: 100vh !important;
    }
}

/*Right user info*/
.jiZwhY {
    align-items: flex-start;
}

.jkOmkV {
    justify-content: space-around;
    font-size: 2rem;
    align-items: baseline;
    flex-flow: row-reverse wrap-reverse !important;
    margin-top: 3rem;
}

.jkOmkr {
    width: 100%;
    margin-right: 0 !important;
    text-align: center;
    margin-bottom: 1rem;
}

.jkOmkV svg {
    width: 2rem !important;
}

.jiZwic {
    position: sticky;
    top: 0;
}
