extension{
    display: inline-block;
}

.link_button {
    line-height: 4rem;
    font-size: 1.4rem;
    margin: 2px 5px;
    padding: 0 5px;
}

.link_button > a {
    text-decoration: none;
    color: cadetblue;
    font-weight: bold;
}
