extension {
    display: inline-block;
}

.link_button {
    line-height: 3rem;
    font-size: 1.4rem;
    margin: 2px 5px;
    margin-left: 0;
    padding: 0 5px;
}

.link_button>a {
    text-decoration: none;
    font-weight: bold;
}

.link_button>a.twitter {
    color: rgb(29, 161, 242);
    border: solid 1px;
    border-radius: 4px;
    padding: 5px 10px;
}

.link_button>a.twitter:hover {
    background-color: rgb(29, 161, 242);
    color: white;
}

.link_button>a.others {
    color: cadetblue;
}

.link_button>a.youtube {
    color: #cc0000;
}

.link_button>a.nico {
    color: #272727;
}

#info-contents,
#info-skeleton {
    position: fixed;
    bottom: 0px;
    width: 95vw;
    background: white;
    z-index: 30000;
    padding: 10px;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.3);
}

#player-theater-container {
    z-index: 35000;
}